@media (min-width: 1001px) {
    .bg-banner {
        margin-top: 80px;
    }
}

.bg-banner {
    background-image: url(../../public/bg-banner1.jpg);
    position: relative;
    height: 105vh;
    background-size: auto 100%;
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
    background-color: #69328F;
}

@keyframes fadeUp1 {
    from { 
        opacity: 0.5;
        transform: translateY(40px) ;
    }
    to { 
        opacity: 1; 
        transform: translateY(0px)
    }
}

.fade-up1 {
    animation: fadeUp1 1s ease-in-out forwards;
}

@media (max-width:834px) {
    .bg-banner {
        height: 76vh;
        background-image: url(../../public/bg-banner2.jpg);
    }
}
@media (max-width:768px) {
    .bg-banner {
        height: 83vh;
    }
}
@media (max-width:430px) {
    .bg-banner {
        height: 60vh;
    }
}
@media (max-width:320px) {
    .bg-banner {
        height: 70vh;
    }
}
